<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".aa">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Melkor rss</a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse aa" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/feed">
                            Seleccion
                        </a>
                </li>
                <li>
                    <a href="/feedAll">
                            Todos
                        </a>
                </li>
                <li class="collapse"><a href="/login">Login</a>
                </li>

            </ul>


            <div class="collapse navbar-collapse aa" id="bs-example-navbar-collapse-1">
                <% if(!session.user){ %>
                    <ul class="nav navbar-nav navbar-right hidden-xs">
                        <li><a href="/login">Login</a>
                        </li>
                    </ul>
                    <%}else{%>
                        <ul class="nav navbar-nav navbar-right hidden-xs">
                            <li>
                                <a href="#">
                                    <%=session.user.username%>
                                </a>
                            </li>
                            <li><a href="\logout"><span class="glyphicon glyphicon-log-out"></span></a>
                            </li>
                        </ul>
                        <%}%>
            </div>
        </div>
    </div>
</nav>
